In [1]:
import numpy as np 
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df =  pd.read_csv("C:/Users/1/Downloads/New folder (6)/column_2C_weka.csv")

In [3]:
    df.head()

,pelvic_incidence,pelvic_tilt numeric,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,class
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400,Abnormal
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,Abnormal
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,Abnormal
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,Abnormal
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,Abnormal

In [5]:
x = df[["pelvic_incidence", "pelvic_tilt numeric", "lumbar_lordosis_angle"]]
y= df["degree_spondylolisthesis"]

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.3,random_state=100)

In [7]:
from sklearn.linear_model import LinearRegression
mlr= LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [8]:
print("intercept:", mlr.intercept_)
print("coefficiants:")
list(zip(x,mlr.coef_))

intercept: -66.95366527494545
coefficiants:

[('pelvic_incidence', 1.6574961308843656),
 ('pelvic_tilt numeric', -0.4360599954754777),
 ('lumbar_lordosis_angle', 0.03844789182768547)]

In [9]:
y_pred = mlr.predict(x_test)
print("prediction for test set:{}".format(y_pred))

prediction for test set:[ 3.46920320e+01  4.66792475e+00 -5.37587018e+00  2.72093346e+00
  5.55295250e+01  6.11507233e+01  2.67726156e+01  8.39770732e+01
 -6.88045915e+00  3.53732086e+01 -2.31792310e+00 -1.10199000e-01
  9.41472671e+00  5.43019952e+01 -3.35152230e+00  1.53045040e+01
  1.90963902e+01 -7.48285771e+00  3.20117520e+01  6.18555754e+01
  5.09644958e+01  1.39071293e+01  1.47778303e+01  7.31227739e+01
  7.37718074e+00  3.94886840e+01  4.77788915e+01  3.21866341e+01
  5.28778496e+01  4.85596918e+00  2.75760465e+01  3.49255539e+01
  2.36074475e+01  3.18453105e+01  1.29961128e+01 -1.13123741e+01
  3.53889416e+01  1.90024673e+01  2.13912393e+01  3.92497753e+01
  1.14058987e+02  5.34625743e+01  2.27312476e+01  2.00533141e+01
 -1.50294134e+00  1.50722404e+01  4.33850768e+01  2.42535593e+00
  5.28842461e+01  4.53785891e+01  1.82608475e+01  5.20345733e+01
  4.30039893e+01  3.20469543e+01  6.47159911e+01  4.78134611e+01
  5.99369184e+01  3.22689222e+01  7.32742541e+01 -6.30095218e+00
  3.99579564e+00  1.24204775e+01 -5.64232748e+00 -2.08235716e+00
  1.09529461e+01  4.36980347e-01 -4.97802218e+00  5.65454348e+01
  2.11590978e+01  2.52701379e+01 -1.97177447e+00  2.80139863e+01
  7.47958099e+00  7.64390321e+00  1.57109370e+01  5.18942964e+01
  7.03171765e+01  2.67037269e+01  9.76858896e+00 -1.26282876e+01
  6.84310713e+01  9.90243770e-01  5.21385034e+01 -1.77646807e+00
  7.34285665e+01  5.14614706e+01  6.09821507e+01 -1.11451897e+01
  5.58386273e+01  1.02323074e+01  5.77968735e+00  6.34246502e+00
  2.49145135e+01]

In [10]:
mlr_dif = pd.DataFrame({"actual value: ":y_test,"predited value: ":y_pred})
mlr_dif.head()

     actual value:   predited value:
75       145.378143         34.692032
7        -10.675871          4.667925
250       -2.092507         -5.375870
56         5.753277          2.720933
149       36.706395         55.529525

In [11]:
from sklearn import metrics
meansquare = metrics.mean_squared_error(y_test,y_pred)
print("r squared: {:.2f}".format(mlr.score(x,y)*100))
print("mse: ", meansquare)

r squared: 39.82
mse:  678.4249971506957